.button {
  width: 48px;
  height: 48px;
  outline: none;
  border: 0px;
}

.button:hover {
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.button:focus {
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5);
}
